#wrap{\
    background: rgb(225, 253, 102);
    width: 700px;
    height: 900px;
    margin: 0 auto;
    color: #fff3f3;
    }
    header{
    width: 100%;
    height: 100px;
    background: rgb(37, 87, 110);
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    }
    nav{
    width: 100%;
    height: 50px;
    background: rgb(229, 231, 100);
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    }
    main{
    width: 70%;
    height: 650px;
    background-color: #1d1a1a;
    text-align: center;
    font-size: 40px;
    float: left;
    padding: 20px;
    box-sizing: border-box
    }
    section{
        width:100%;
        background-color: #a9aa4d;
    }
    #section1{
    margin-bottom: 20px;
    height: 450px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    }
    #section2{
    height:70px;
    line-height: 70px;
    }
    article{
        width: 100%;
        height: 178px;
        background-color: #2a58ad;
        margin-bottom: 20px;
        line-height: 178px;
    }
    aside{
    width: 30%;
    height: 650px;
    background-color: rgb(59, 56, 56);
    float: left;
    text-align: center;
    line-height: 650px;
    color: #f00;
    }
    footer{
    width: 100%;
    height: 100px;
    background-color: rgb(73, 61, 46);
    clear: both;
    text-align: center;
    line-height: 100px;
    }
    
