@import url("style.css");
h1{color: #fff;}

dl{
background-color: cadetblue;
width: 400px;
height: 200px;
margin: 0 auto;
padding: 20px;
border-radius: 20px;
border: 5px solid #fff;
}

div{
width: 50%;
padding: 30px;
background-color: rgb(243, 124, 38);
margin: 0 auto;
box-shadow: 5px 5px 10px 
#000, 5px 5px 10px #0637a3
}